<section class="container-custom">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 py-20">
        <div class="flex flex-col gap-6">
            <div class="flex items-center gap-x-4">
                <h2>20+</h2>
            <h3>Projects</h3>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                molestias eaque nemo et. Pariatur saepe enim dignissimos
                inventore quae magnam, atque suscipit nostrum explicabo sapiente
                itaque debitis! Vitae, totam dolorum!
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                molestias eaque nemo et. Pariatur saepe enim dignissimos
                inventore quae magnam, atque suscipit nostrum explicabo sapiente
                itaque debitis! Vitae, totam dolorum!
            </p>
        </div>
        
        <div class="flex flex-col gap-6">
            <h3>I'm Creative Web Developer</h3>
            <p>
                Your future client wants to know about you before they hire. Put
                some more information about yourself. For example, I provide
                cost-effective and high quality products to meet my Clients’
                needs and so on.
            </p>

            <!-- una linea de division -->

            <div class="border-[1px] text-avocado-600"></div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-y-3">
                <div>
                    <h5>Name:</h5>
                    <h5>Anderson Ventosilla</h5>
                </div>
                <div>
                    <h5>Email:</h5>
                    <h5>andersonventosilla0@gmail.com</h5>
                </div>
                <div>
                    <h5>Age:</h5>
                    <h5>21 años</h5>
                </div>
                <div>
                    <h5>From:</h5>
                    <h5>Lima,Perú</h5>
                </div>
            </div>

            <!-- buttons -->
            <div class="flex gap-10">
                <button class="btn">Download CV</button>
                <button class="btn">Hire Me</button>
            </div>
        </div>
    </div>
</section>
