<div class="h-auto">
    <div class="bg-avocado-500 py-20">
        <section class="container-custom flex justify-between">
            <div>
                <h3>If you need any project to be done</h3>
                <p>Create your call to action and get more leads</p>
            </div>
            <div>
                <button> Contact Me </button>
            </div>
        </section>
    </div>

    <div class="container-custom py-20">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
            <div class="w-full">
                <form>
                    <div class="flex flex-col gap-6">
                        <label for="name" class="text-xl">Name</label>
                        <input
                            type="text"
                            class="block p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:outline-none focus:border-avocado-500 transition duration-300 ease hover:border-teal-300 shadow-sm focus:shadow"
                            placeholder="Name"
                        />

                        <label for="emai" class="text-xl">Email</label>
                        <input
                            type="email"
                            placeholder="test@email.com"
                            class="block p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:outline-none focus:border-avocado-500 transition duration-300 ease hover:border-teal-300 shadow-sm focus:shadow"
                        />

                        <label for="message" class="text-xl">Message</label>
                        <textarea
                            rows="5"
                            name="message"
                            id="message"
                            placeholder="Type a message"
                            class="block p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:outline-none focus:border-avocado-500 transition duration-300 ease hover:border-teal-300 shadow-sm focus:shadow"
                        ></textarea>
                    </div>

                    <div class="pt-6">
                        <button class="bg-avocado-500 py-2 rounded-md px-4 border border-transparent text-center text-sm text-slate-800 transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-avocado-400 active:shadow-none cursor-pointer">Send Message</button>
                    </div>
                </form>
            </div>

            <div class="w-full">
                <h3>Let's talk about everything!</h3>
                <p>
                    After convincing your clients, let them contact you directly
                    with this functional contact form in the PickMe free
                    Portfolio theme. You can also add every other channel such
                    as an address, phone, email, web address, etc.
                </p>
            </div>
        </div>
    </div>
</div>
