---
import GitHub from "../icons/GitHub.astro";
import Linkedln from "../icons/Linkedln.astro";
---

<footer>
    <div class="bg-avocado-500">
        <div class="container-custom py-10 flex justify-between">
            <div>
                <p>Taway© All Rights Reserved.2025</p>
            </div>
            <div class="flex gap-x-5">
                <a href="">
                    <GitHub class="w-8 h-8" />
                </a>
                <a href="">
                    <Linkedln class="w-8 h-8" />
                </a>
            </div>
        </div>
    </div>
</footer>
