---
import MiFoto from '../assets/mifoto.jpeg'
---

<section class="container-custom h-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 py-20 gap-y-10">
        <div class="flex flex-col gap-6 justify-start items-start">
            <p>My name is Anderson Ventosilla</p>
            <h2 class="text-avocado-600">I'm a Software Developer</h2>
            <p>I am Anderson Ventosilla, a Spanish developer. A prolific artist, I left behind more than 2,200 cataloged works. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi deleniti pariatur asperiores harum, corrupti vitae quas, et iure dignissimos consectetur explicabo repudiandae odio eligendi earum quo molestias nam possimus?</p>
            <button class="bg-[#79f140] px-5 py-3 border-b-4 border-r-4 shadow-[0_8px_16px_rgba(0,0,0,0.15)] border-black rounded-lg shadow-card hover:shadow-[0_12px_24px_rgba(0,0,0,0.2)]  transition-all duration-150 ease-in cursor-pointer hover:translate-2">Work together</button>
            <!-- hover:border-b-8 hover:border-r-8 -->
        </div>
        <div class="flex flex-col gap-6 justify-start text-center items-center">
            <!-- <p>Puede ir una imagen</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eveniet quas facilis consequatur non, dolores, ipsam nemo animi molestias vero ex voluptatem cumque? A odit inventore, earum illo beatae voluptatem.</p> -->
            <img src={MiFoto.src} alt="anderson foto" class="rounded-full" width="350" height="330">
        </div>
    </div>
</section>
